<h1>RSS URLs</h1>
<div>
  <%= form_with model: @rss_url do |form| %>
    <div>
      <%= form.label :url, "URL" %>
      <%= form.url_field :url %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
